section {
    margin: 0 auto;
    width: 1170px;
}

.wrapper-player {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.url {
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin-right: 10px;
}

button {
    background-color: rgb(90, 88, 88);
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    max-width: 100px;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    transition: 0.2s;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(255, 23, 23, 1);
    transition: 0.2s;
}